{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended" // this configuration must be last
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "comma-dangle": ["error", "always-multiline"]
    }
}
