<!DOCTYPE html>
<html lang="ru">
<head>
    {{>staticMeta}}
    <link rel="stylesheet" href="{{ staticBasePath }}byHashtag.css" type="text/css" media="screen">
</head>
<body>
{{>header}}
<div class="main-container">
    <div class="searching-hashtag">{{targetHashtag}}</div>
    {{>adventures}}
</div>
</body>
