<!DOCTYPE html>
<html lang="ru">
<head>
    {{>staticMeta}}
    <link rel="stylesheet" href="{{ staticBasePath }}adventures.css" type="text/css" media="screen">
    <script src="/bundle.js"></script>
</head>
<body>
    {{>header}}
    <div class="main-container">
        {{>adventures}}
    </div>
</body>
