<!DOCTYPE html>
<html lang="ru">
<head>
    {{>staticMeta}}
    <link rel="icon" href="{{staticBasePath}}favicon.png" type="image/png">
    <link rel="stylesheet" href="{{ staticBasePath }}index.css" type="text/css" media="screen">
</head>
<body>
    {{>header}}
    <div class="main-container">
        {{>adventures}}
    </div>
</body>
