<header>
    <div class="shift">
        <a href="/">
        <img class="logo-icon" src="{{staticBasePath}}logo.svg" alt="logo icon" >
        </a>
        <div class="middle-name" >
            <a href="/"><span><span class="telltail">Telltail</span>Games</span></a>
        </div>
    </div>
</header>
