<header>
    <div class="shift">
        <img class="logo-icon" src="{{staticBasePath}}logo.svg" alt="logo icon">
        <div class="middle-name">
            <span><span class="telltail">Telltail</span>Games</span>
        </div>
    </div>
</header>
